/*--------------base styles----------------*/
:root {
  --main-title-color: rgba(0, 0, 1, 1);
  --first-title-color: rgba(255, 255, 255, 1);
  --secondary-title-color: rgb(87, 225, 255, 1);
  --text-color: rgb(238, 230, 230);
  --profit-color: rgba(53, 255, 158, 1);
  --activ-title-color: rgba(106, 84, 255, 1);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--main-title-color);
  /* margin: 0; */
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
/*
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}*/
.container {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: var(--main-title-color);
  display: flex;
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.logo {
  position: relative;
}
.logo-text {
  position: absolute;
  top: 28px;
  left: 140px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 150px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  opacity: 70%;
  color: var(--first-title-color);
  transition: color var(--anim);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--activ-title-color);
}
.nav-link:active {
  color: var(--activ-title-color);
}

.nav-link:hover::after {
  opacity: 1;
}
.main-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 194px;
}
.btn-enter {
  width: 86px;
  height: 42px;

  border-radius: 4px;
  font-family: inherit;
  color: var(--secondary-title-color);
  border-color: var(--secondary-title-color);
  background-color: rgba(87, 225, 255, 0.2);
}
.btn-registration {
  width: 146px;
  height: 42px;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  background-color: var(--secondary-title-color);
}
.main-home-info {
  position: relative;
  max-width: 630px;
}

.main-caption {
  margin-bottom: 12px;
  width: 696px;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: calc(72 / 60);
  text-transform: uppercase;
  color: var(--first-title-color);
}
.main-text {
  width: 565px;
  margin-bottom: 24px;
  color: rgba(231, 247, 248, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  opacity: 80%;
}
.text-warning {
  color: rgb(123, 121, 121);
}
.main-mail {
  width: 500px;
  height: 60px;
  margin-bottom: 12px;
  padding-left: 16px;
  background-color: rgba(32, 26, 79, 1);
  border: none;
  border-radius: 4px;
  color: var(--first-title-color);
}
.btn-begin {
  width: 109px;
  height: 52px;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-transform: uppercase;
  background-color: var(--secondary-title-color);
  position: absolute;
  top: 297px;
  left: 405px;
}
.logo-main {
  margin-bottom: 150px;
}
.forder-block {
  width: 639px;
  height: 60px;
  border: none;
  background-color: var(--first-title-color);
  clip-path: polygon(0 0, 93% 0, 100% 100%, 100% 100%, 0 100%);
}

.main-numbers {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--first-title-color);
}

.numbers-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: calc(56 / 44);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.numbers-data {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: -4%;
  color: var(--main-title-color);
}
.numbers-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.numbers-quantity {
  font-weight: 500;
  font-size: 60px;
  line-height: calc(66 / 60);
  letter-spacing: -2%;
  color: var(--activ-title-color);
}

.deels {
  padding-top: 96px;
  padding-bottom: 148px;
  width: 100%;
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  white-space: nowrap; /* Запрещаем перенос строк */
}

.deels-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: calc(56 / 44);
  text-transform: uppercase;
  color: var(--first-title-color);
}
.deels-online {
  color: var(--profit-color);
  padding-left: 14px;
  margin: 0px;
  margin-bottom: 72px;
}

.list-deels {
  display: flex;
  gap: 20px;
  padding: 0;
  overflow: auto;
}
.logo-deels {
  position: absolute;
  bottom: 28px;
  left: 193px;
}

.item-deels {
  /* width: 299px;
  height: 208px; */
  background-color: var(--activ-title-color);
  clip-path: polygon(0 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
  border-radius: 4px;
  padding: 16px 16px 13px 16px;
  display: inline-block;
  position: relative;
}

.item-deels-caption {
  font-weight: 500;
  font-size: 20px;
  color: var(--first-title-color);
  margin-bottom: 2px;
}
.item-deels-spot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  opacity: 40%;
  color: var(--first-title-color);
  margin-bottom: 48px;
}
.item-deels-profit {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  opacity: 70%;
  color: var(--first-title-color);
  text-transform: uppercase;
  margin-bottom: 2px;
}
.item-deels-quantity {
  font-weight: 500;
  font-size: 28px;
  color: var(--profit-color);
  margin-bottom: 9px;
}
.item-deels-quantity::after {
  content: url("../img/deels.svg");
  margin-left: 5px;
  margin-top: 0px;
}
.item-deels-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.item-deels-target {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  opacity: 70%;
  color: var(--first-title-color);
}
.item-deels-data {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  opacity: 40%;
  color: var(--first-title-color);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 237px;
  padding-top: 56px;
  padding-bottom: 92px;
  background-color: var(--first-title-color);
}
.about-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: calc(56 / 44);
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about-info-one {
  width: 413px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  opacity: 80%;
  margin-bottom: 20px;
}
.about-info-two {
  width: 413px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  opacity: 80%;
}
.about-try {
  padding-left: 64px;
  padding-right: 64px;
  border-radius: 4px;
  position: relative;
  background-color: var(--activ-title-color);
}
.about-try-text {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: calc(36 / 28);
  color: var(--first-title-color);
  margin-top: 32px;
  margin-bottom: 32px;
}
.about-email {
  width: 500px;
  height: 60px;
  border: none;
  padding-left: 16px;
  border-radius: 4px;
  background-color: rgba(74, 59, 179, 1);
  margin-bottom: 40px;
  color: var(--first-title-color);
}
.btn-about {
  width: 165px;
  height: 52px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-transform: uppercase;
  top: 141px;
  left: 413px;
  position: absolute;
  border-radius: 4px;
  background-color: var(--secondary-title-color);
}
.rates {
  padding: 96px 297px 96px 297px;
}

.rates-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: calc(56 / 44);
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 40px;
}
.rates-btn-group {
  position: relative;
  margin-bottom: 44px;
}

.btn-rates-spot {
  width: 201px;
  height: 44px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--secondary-title-color);
  position: absolute;
  top: 4px;
  left: 4px;
}
.btn-rates-futures {
  width: 413px;
  height: 52px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-transform: uppercase;
  border-radius: 4px;
  text-align: end;
  padding: 12px 49px 12px 249px;
  opacity: 40%;
  color: var(--secondary-title-color);
  background-color: rgba(106, 84, 255, 1);
}

.rates-group {
  display: flex;
}
.rates-standart {
  padding: 24px;
  margin-right: 20px;
  border: 1px solid var(--activ-title-color);
  border-radius: 8px;
}
.rates-vip {
  padding: 24px;
  background-color: var(--activ-title-color);
  border-radius: 8px;
}

.rates-text {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: calc(48 / 32);
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 56px;
}

.rates-list-standart {
  padding-left: 20px;
  margin-bottom: 120px;
}
.rates-list {
  padding-left: 20px;
  margin-bottom: 40px;
}

.rates-item {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--first-title-color);
  border-bottom: 1px dashed var(--first-title-color);
  padding-top: 8px;
  padding-bottom: 8px;
}
.rates-item::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  left: -25px;
  background-image: url("../img/ratess.svg");
}
.rates-price-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.rates-price {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: calc(40 / 35);
  color: var(--first-title-color);
}
.rates-discount {
  margin-top: -1px;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(20 / 18);
  color: var(--profit-color);
}

.rates-select {
  padding: 6px 5px 6px 8px;
  height: 36px;
  border-radius: 4px;
  color: var(--first-title-color);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.btn-rates-try {
  width: 365px;
  height: 52px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--secondary-title-color);
  border: none;
}
.btn-text-free {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  opacity: 46%;
  text-transform: none;
}
.questions {
  background-color: var(--first-title-color);
  padding: 96px 297px 96px 297px;
}

.questions-group {
  max-width: 846px;
  margin: 0 auto;
}
.questions-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: calc(56 / 44);
  text-transform: uppercase;
  margin-bottom: 64px;
}

.faq-item {
  margin-bottom: 20px;
}

.question-title {
  /* position: relative; */
  width: 846px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(234, 239, 240, 1);
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(32 / 24);
  /* transition: color var(--anim); */
}

.question-title:hover,
.question-title:focus {
  background-color: var(--activ-title-color);
  color: var(--first-title-color);
}
.question-title:active {
  background-color: var(--activ-title-color);
  color: var(--first-title-color);
}
.question-title:hover::after {
  background-color: var(--activ-title-color);
  color: var(--first-title-color);
}

.answer {
  /* position: sticky; */
  margin-top: -4px;
  display: none;
  border-radius: 4px;
  width: 846px;
  padding: 16px;
  background-color: var(--activ-title-color);
  color: var(--first-title-color);
  transition: color var(--anim);
}

.answer-text {
  margin-bottom: 20px;
}

.question-toggle {
  display: none;
}

.question-toggle:checked ~ .answer {
  display: block;
}
.question-toggle + label::after {
  content: url("../img/questions-open.svg");
}

.question-toggle:checked + label::after {
  content: url("../img/questions-close.svg");
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 40px;
}
.footer-head {
  display: block;
}

.footer-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  opacity: 40%;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.footer-nav-list {
  display: flex;
  gap: 20px;
  margin-top: 224px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  opacity: 67%;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.footer-logo-info {
  display: block;
}
.footer-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  opacity: 60%;
  color: var(--first-title-color);
  margin-top: 180px;
}

.footer-logo-group {
  position: relative;
}
.footer-logo {
  margin-top: -30px;
  margin-left: 75px;
}

.footer-logo-text {
  position: absolute;
  right: 0px;
  top: 4px;
}
